/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 10px;
} /* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
} /* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

/*BALISES*/

body {
  background-color: #2f2f2f !important;
}

/*HEADER*/

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

/*MAIN*/
/*FOOTER*/
